<!DOCTYPE html>
<html>
<head>
  <title>Telemachus</title>
  <!-- The bootstrap gem isn't working for some reason. Need to look into that. For now I'll use the links -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-light" stye="background-color: teal;">
		<div class="container-fluid page_lead">
			<div class="navbar-header" stye="background-color: teal;">
				<a class="navbar-brand" id="brand" href="/"><%= image_tag "Logomark.svg", :class => "nav_logo" %></a>
			</div>
			<ul class="nav navbar-nav navigation">
				<li><a href="/contact">Contact us</a></li>
				<li><a href="/logout">Logout</a></li>
        <li><a href="/hub/:id">My Hub</a></li>
			</ul>
      <a href="/hub/:id"><%= image_tag "Logotype.svg", :class => "Logo_type_hub"%></a>
		</div>
	</nav>


  <div class="container">
    <h2>Message Your Match!</h2>
  <% @order_messages.each do |messages| %>
  <div class="row">
    <% if messages.to == current_user.id %>
      <div class="recieved">
        <%= messages.message %>
      </div>
  </div>
  <div class="row">
    <% elsif messages.from == current_user.id %>
      <div class="sent">
        <%= messages.message %>
      </div>
    <% end %>
  </div>
  <% end %>

  <%= form_for(@message) do |message| %>
    <%= message.hidden_field :from, :value => current_user.id %>
    <div class="row">
    <p> Choose a match to message! </p>
    <% @user.each do |user| %>
      <% agreed.each do |agree| %>
        <% if user.id == agree %>
          <%= message.radio_button(:to, agree) %>
          <%= user.name %>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <div class="row text">
      <%= message.text_area :message, :cols => "100", :rows => "10" %>
    </div>
    <%= message.submit "Message", class: "btn more" %>
  <% end %>
  </div>
</body>
