<!DOCTYPE html>
<html>
<head>
  <title>Mentor</title>
  <!-- The bootstrap gem isn't working for some reason. Need to look into that. For now I'll use the links -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- This is more logic than I'd like in the view. Remember to refactor later. This will show optional mentors/mentees that
fit the user's needs based on their input during signup. They can choose which person they'd like to match with using a radio button. -->
  <%= form_for(@pair) do |pair| %>
    <% options.each do |match| %>
      <%= pair.radio_button(:mentee_id, match) %>
      <% @user.each do |person|  %>
        <% if match == person.id %>
          <%= person.name %>
          <%= person.description %>
        <% end %>
      <% end %>
    <% end %>
    <%= pair.text_area :message, :cols => "100", :rows => "10" %>

    <% pair.hidden_field(:user_id, :value => current_user.id) %>
  <% end %>

</body>
</html>
