<!DOCTYPE html>
<html>
<head>
  <title>Mentor</title>

  <!-- The bootstrap gem isn't working for some reason. Need to look into that. For now I'll use the links -->

<link rel="stylesheet" href="httpss://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="httpss://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="httpss://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="httpss://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="httpss://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="httpss://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="container">
    <%= image_tag "mentor.png", :class => "mentor" %>
    <h1>Pay It Forward</h1>
    <div id="one">
      <h2>Step 1</h2>
    </div>
    <%= form_for(@user) do |user| %>
      <div class="row">
        <%= user.text_field :name, :placeholder => 'Your username' %>
      </div>
      <div class="row">
        <%= user.email_field :email, :placeholder => 'Email' %>
      </div>
      <div class="row">
        <%= user.password_field :password, :placeholder => 'Password', :id => "identity" %>
      </div>

      <div id="two" class="number">
        <h2>2</h2>
      </div>
      <div class="row" id="expertise">
        <div class="btn-group" data-toggle="radio">
        <h1>Are you looking to be a mentor, or to find one?</h1>
        <div class="col-xs-6 col-md-6">
          <%= user.radio_button(:expertise, 'Expert', :id => "user[expertise]") %>
          <label for="user[expertise]" class = "btn btn-success" >I'm Experienced</label>
        </div>
        <div class="col-xs-6 col-md-6">
          <%= user.radio_button(:expertise, 'Beginner') %>
          <label for="user_expertise_beginner" class ="btn btn-success" >I'm a Beginner</label>
        </div>
        </div>
      </div>

      <div id="three" class="number">
        <h2>3</h2>
      </div>
      <div class="row" id="description">
        <h1>Tell us a little about where you are in life and what you're looking for in a mentor/mentee.</h1>
        <%= user.text_area :description, :cols => "100", :rows => "10" %>
      </div>

      <div id="four" class="number">
        <h2>4</h2>
      </div>
      <div class="row" id="career">
        <h1>In which field are you a professional, or aspiring beginner?</h1>
        <%= user.collection_select(:career_id, Career.all, :id, :job) %>
      </div>

      <%= user.submit "Submit", class: "btn btn-success", :id => "submit" %>

    <% end %>
  </div>

</body>
</html>
